
<div style="color: white;" >

    <article>
        <h1>Main Title</h1>
        <p class="subtitle fancy"><span>A fancy subtitle</span></p>
        <div class="copy">
          <p>Bacon ipsum dolor sit amet pancetta meatloaf eiusmod laborum commodo officia ex exercitation bacon.</p>
      
          <p>Cillum pariatur ground round filet mignon capicola ad ham id doner sirloin beef ribs qui mollit pork chop.</p>
      
        </div>
      </article>
      
      <article>
        <h1>
          <span class="embiggen">Love</span>
          <div class="fancy amp"><span>&</span></div>
          Marriage
        </h1>
        <div class="copy">
          <p>Go together like a horse and carridge. Cillum pariatur ground round filet mignon capicola ad ham id doner sirloin beef ribs qui mollit pork chop. </p>
      
          <p>Filet mignon capicola aute short loin pork belly qui ball tip spare ribs do short ribs sint. Commodo dolore rump nostrud ball tip.</p>
        </div>
        
      </article>

</div>