<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <alert></alert>
        <router-outlet></router-outlet>
        <footer id="footer" style="color: white;"> Copyright 2019 © FlowerK </footer>
      </main>
    </mat-sidenav-content>   
  </mat-sidenav-container>
</app-layout>
